          .swither {
          Float: left;
          width: 38px;
          height: 38px;
         display: flex ;
         justify-content :center ;
         align-items :center ;
          border: 2px solid #00971E;
          background-color: #00FF01;
          color:#FFFFFF;
          box-sizing: border-box;
          position :relative ;
          overflow :visible ;
          z-index :1;
          
        }
.swither::before {
  content: "";
  position: absolute;
  top: -3.5px;
  left: -3.5px;
  transform: translate(-0%, -0%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #07FF00;
  z-index: 20;
  animation :   bum2 0.8s infinite  ;
}
@keyframes bum2{
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(10);
    opacity: 0;
  }
}
    #game-board {
      position: fixed;
      overflow :visible ;
  left:0%;
  top:0%;
  padding :0px;
  
  margin: 0px;
  
  background :black;
  background-repeat: repeat ;
  background-color :transparent;
  background-size: 40px 40px;
  z-index :2;
      height: 360px;
      width: 900px;
      /*318.5%*/


      z-index: -1;
    }

    * {
      margin: 0;
      overflow: hidden;
      font-family: Arial;
    }

    .tile {
      Float: left;
      width: 40px;
      height: 40px;
      background-color: #1B1B1B;
      /*#536D0E*/

      box-sizing: border-box;
    }

    .null {
      Float: left;
      width: 40px;
      height: 40px;
      background :none;
			z-index :3;
      box-sizing: border-box;
    }

    .null2 {
      display :flex ;
      justify-content :center ;
      Float: left;
      width: 40px;
      height: 40px;
      background :#00DEE600;
background-size: 100px 100px;


    }

    .Lava {
      Float: left;
      width: 40px;
      height: 40px;
      background-color: #FFC700;
      /*#FF0058*/
      box-sizing: border-box;
      
    }

    .nothing {
      Float: left;
      width: 40px;
      height: 40px;
      background-color: #0012FF00;

      box-sizing: border-box;
    }
      .endblock {
          Float: left;
          width: 38px;
          height: 38px;
         display: flex ;
         justify-content :center ;
         align-items :center ;
          border: 2px solid #000000;
          background-color: #470026;
          color:#FFFFFF;
          box-sizing: border-box;
          position :relative ;
          overflow :visible ;
          z-index :1;
          animation :   bum_bum 0.8s infinite  ;
        }
.endblock::before {
  content: "";
  position: absolute;
  top: -3.5px;
  left: -3.5px;
  transform: translate(-0%, -0%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.5);
  z-index: 20;
  animation :bum 0.8s infinite ;
}
@keyframes bum{
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(5);
    opacity: 0;
  }
}

@keyframes bum_bum{
  0%{
    font-size :20px;
  }
  20%{
    
    font-size :30px;
  }
  100%{
    
    font-size :20px;
  }
}
    #player {
      width: 30px;
      height: 30px;


      position: relative ;
      left: 0;
      top: 0;
    }


    .Spike {
      float: left;
      
      width: 50px;
      height :50px;
      color: #636363;
      transform: rotate(90deg);
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-right: 20px solid #676767;
      
      border-bottom: 10px solid transparent;
      margin-top: 20px;
      Font-size: 52px;
      
    }
@media (prefers-color-scheme: dark) {
  .swither {
    background-color: #000000; /* kolor tła w trybie jasnym */
    color: #FFFFFF; /* kolor czcionki w trybie jasnym */
  }
  
  #game-board {
    background-color: none; /* kolor tła planszy w trybie jasnym */
  }
  
  .tile {
    background-color: #FFFFFF; /* kolor tła kafelka w trybie jasnym */
  }
  
  .Lava {
    background-color: #FF0000; /* kolor tła obszaru Lava w trybie jasnym */
  }
  
  .endblock {
    background-color: #FF0000; /* kolor tła bloku końcowego w trybie jasnym */
  }
  
  .Spike {
    color: #FFFFFF; /* kolor kształtu Spike w trybie jasnym */
    border-right: 20px solid #FFFFFF; /* kolor bocznego kształtu Spike w trybie jasnym */
  }
}
@media (prefers-color-scheme: dark) {

  body {
  	filter: brightness(0.7);
  }
}
